<html>
	<head>
		<title>Jiunn Wai's blog</title>
	</head>

	<body>
		<div>
			<h1><a href="/">Jiunn Wai's Blog</a></h1>
		</div>

		<div>
			<p>published:14.06.2014, 12:14</p>
			<h2><a href="">My first post</a></h2>
			<p>This is the content of my post.  I am very fast at typing.  I am awesome.
				What the heck man.  One plus one equals two, two plus two equals four, 
				four plus four equals eight, eight plus eight equals sixteen, sixteen 
				plus sixteen equals thirty two, thirty two plus thirty two equals 
			sixty four.</p>
		</div>

		<div>
			<p>published:14.06.2014, 12:52</p>
			<h2><a href="">My second post</a></h2>
			<p>This is the content of my second post.  I am okay at typing.  One times one 
				equals two.  Two times two equals four.  Four times four equals sixteen. 
			Sixteen times sixteen equals too much for my mental math.</p>
		</div>
	</body>
</html>